body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

header {
  background-color: rgba(8,26,36,0.9);
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
}

.social-icons {
  width: 15%;
  float: left;
  padding: 34px;
}

.social-icons a {
  color: white;
  font-size: 18px;
  padding: 0 10px; 
  transition: all 0.3s ease-in-out;
}

.social-icons a:hover {
  color: #dd9933;
}

img {
    width: 80px;
}

nav {
  width: 60%;
  float: left;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
}

nav a:hover {
  color: #dd9933;
}

.language {
  width: 15%;
  float: right;
  padding: 32px;
}

#nombre {
    background-image: url(imagen.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
#nombre h1 {
    color: white;
    text-shadow: 1px 1px black;
    font-size: 3em;
    text-align: center;
}

section {
  margin-bottom: 20px;
  padding: 30px;
}

h2 {
  text-align: center;
  margin: 0;
}

h4 {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  margin: 0;
}

h2 span {
  color: #dd9933;
}

#videos {
  background-color:  rgba(8,26,36);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

input[type="submit"] {
  width: 100px;
  margin: 50px;
  padding: 10px;
  background-color: transparent;
  color: white;
  font-family: 'Oswald', sans-serif;
  border-bottom: 1px solid white;
  transition: all 0.3s ease-in-out;
}

input[type="submit"]:hover {
  background-color: #dd9933;
}

input[type="text"], input[type="email"], input[type="tel"] {
  width: 30%;
  padding: 10px;
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 1px solid;
  transition: all 0.3s ease-in-out;
}

textarea {
  width: 79%;
  height: 100px;
  padding: 10px;
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 1px solid;
  transition: all 0.3s ease-in-out;
}

textarea:active, input:active{
  outline: none;
  }

textarea:focus, input:focus{
  outline: none;
  border-bottom: 1px solid #dd9933;
}

p {
  text-align: center;
  margin: 10px 50px;
}

footer {
  background-color: rgba(8,26,36);
  padding: 20px;
  text-align: center;
}
